<main>
  <section class="content-box-area mt-4">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 mb-4 d-flex align-items-stretch">
          <app-sidebar />
        </div>
        <div class="col-xl-4 mb-4 d-flex align-items-stretch">
          <app-experience />
        </div>
        <div class="col-xl-4 mb-4 d-flex align-items-stretch">
          <app-recent-projects />
        </div>
        <div class="clearfix"></div>
        <div class="col-xl-8 mb-4">
          <app-services-main />
        </div>
        
        <div class="col-xl-4 mb-4">
          <div class="card lets-talk-together-card">
            <div class="card-body">
              <div class="scrolling-info">
                <div class="slider-item">
                  <p>
                    Available For Hire 🚀 Crafting Digital Experiences 🎨 Available For Hire 🚀 Crafting Digital
                    Experiences 🎨
                  </p>
                </div>
              </div>
              <h3 class="card-title">Let's👋
                <span class="d-block">Work Together</span>
              </h3>
              <a class="link-btn" href="https://api.whatsapp.com/send?phone=923457372343" target="_blank"> Let's Talk
                <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.5 11.6665V6.6665H12.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                  </path>
                  <path d="M17.5 6.6665L10 14.1665L2.5 6.6665" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>