@import url('./assets/css/bootstrap.min.css');
@import url('./assets/fontawsome/css/all.min.css');
@import url('./assets/fontawsome/css/fontawesome.min.css');
@import url('./assets/css/slick.css');
@import url('./assets/css/magnific-popup.css');
@import url('./assets/css/style.css');
@import url('./assets/css/responsive.css');

::-webkit-scrollbar {
    width: 8px;
  }
   
::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
border-radius: 8px;

}

::-webkit-scrollbar-thumb {
background-color: #02416b;
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
-ms-border-radius: 8px;
-o-border-radius: 8px;
}